main{
    height: 100vh;
}
.sect1{
    width: 100%;
    height: 11.4vw;
    background-color:#006d9b;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}
.sect1 h1{
font-size: 3.5vw;
}
.sect2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #082430;
    flex-wrap: wrap;
}
.card{
    background-color: rgba(0, 255, 255, 0.146);
    width: 20%;
    height: 50%;
    border-radius: 20px;
    transition: 0.5s;
    margin-bottom: 10%;
    text-align: center;
    color: #e3f2ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.card:hover{
transform: translate(0,-5%);
}
.card h1{
font-size: 2.5vw;
}
.card p{
font-size: 1.3vw;
width: 80%;
}
.card img{
width: 90%;

}

